@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .img1{
        height:60%;
        width:40%;
        padding-top:5%;
    }
    .typing {
        font-size: 18px;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        border-right: 2px solid #000;
      }
      .introduction{
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 30% 100%, 0 85%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 30% 100%, 0 85%);
      }
    
      .sub-title{
        width:10rem;
      }
      .project-title{
        width:9rem;
      }
      .Links{
        width:3rem;
        
      }
      .icon{
        width:2rem;
        height:2rem;
      }
      .hambur{
        display:none;
      }
     
     @media (max-width:1080px){
      .hambur{
        display:block;
      }
      .nav-items {
        display: none;
      }
      .nav-items.visible {
        display: block;
      }
      .Links{
        width:3rem;
        
      }
      .icon{
        width:1rem;
        height:1rem;
      }
     }
      .custom{
        width:400px;
      }
      
      .foot{
        -webkit-clip-path: polygon(0 100%, 100% 100%, 55% 72%);
        clip-path: polygon(0 100%, 100% 100%, 55% 72%);
      }
      
}
